name: qbittorrent

services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Athens
      - WEBUI_PORT=${QBIT_WEBUI_PORT}
      - TORRENTING_PORT=6881
    # ports:
    #   - ${QBIT_WEBUI_PORT}:${QBIT_WEBUI_PORT}
    #   - ${QBIT_TCP_PORT}:6881
    #   - ${QBIT_UDP_PORT}:6881/udp
    volumes:
      - /opt/qbittorrent/appdata:/config
      - /mnt/torrents-share/downloads:/downloads
    restart: unless-stopped
    network_mode: "service:gluetun"

  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=${VPN_SERVICE_PROVIDER}
      - VPN_TYPE=${VPN_TYPE}
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_ADDRESSES=${WIREGUARD_ADDRESSES}
      - SERVER_COUNTRIES=${SERVER_COUNTRIES}
    volumes:
      - /opt/gluetun:/gluetun
    ports:
      - ${QBIT_WEBUI_PORT}:${QBIT_WEBUI_PORT}
      - ${QBIT_TCP_PORT}:6881
      - ${QBIT_UDP_PORT}:6881/udp
    restart: always

networks:
  default:
    ipam:  
      driver: default
      config: 
        - subnet: ${SUBNET}