name: utils

services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:lts
    ports:
      - ${PORTAINER_HTTPS_PORT}:9443
      - ${PORATINER_HTTP_PORT}:9000
      - ${PORTAINER_PORT}:8000
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/portainer/data:/data
    networks:
      - default

  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped
    volumes:
      - /opt/grafana:/var/lib/grafana
    ports:
     - ${GRAFANA_WEBUI_PORT}:3000
    networks:
      - default

networks:
  default:
    ipam:  
      driver: default
      config: 
        - subnet: ${SUBNET}